body {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/736611251769311263/wes-hicks-ZEZeFBLfiLs-unsplash_1.jpg");
  background-size: contain;
}

a {
  color: #ff99eb;
  text-decoration: none;
}

a:hover {
  color: #ffec6e;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  #333333;
  background: #333333;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(174, 69, 255);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffec6e;
}

/* NAVBAR */
navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(42, 42, 42, 0.8);
  display: flex;
  width: 100%;
  height: 3em;
  border-bottom: 3px solid rgba(174, 69, 255);
}

navbar a {
  margin: auto;
  padding-left: 2em;
  justify-content: center;
  font-size: 1.3em;
  text-shadow: 1px 1px 5px grey;
}

.wrapper {
  display: flex;
  width: 950px;
  margin: 0 auto;
  margin-top: 6em;
  background-color: rgba(26, 26, 26, 0.99);
  border-radius: 40px;
  border: 1px solid rgba(42, 42, 42, 0.8);
}

/* WELCOME */
#welcome-section {
  margin-top: 3em;
  margin-left: 3em;  
  margin-bottom: 3em;
  height: 100vh;
  width: 50%;
  display: flex;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/736393147218919555/krzysztof-hepner-ymx8g15pxD4-unsplash_1.jpg");
  background-size: cover;
  border-radius: 15px;
}

.welcome-wrap {
  margin: auto;
}

.welcome-wrap h1 {
  font-size: 3em;
  color: white;
  background-color: rgba(51, 51, 51, 0.77);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0.12em;
}

.welcome-wrap p {
  text-align: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(51, 51, 51, 0.77);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.12em;
}

/* PROJECTS */

.project-title {
  font-weight: normal;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 5.9em;
  margin: auto;
  opacity: 0.9;
}
/* BACKUP PROJECT-TITLE */
/* .project-title {
  position: absolute;
  font-weight: normal;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 5.9em;
  margin-top: -0.2em;
  margin-left: 0.25em;
  opacity: 0.9;
*/


#projects {
  width: 25%;
  height: 100vh;
  margin-top: 3em;
  display: flex;
  margin-right: 2em;
  border-radius: 15px;
}

/* PROJECTS BACKUP */
/* #projects {
  width: 45%;
  height: 100vh;
  margin-top: 3em;
  display: flex;
} */

.projects-wrap {
  height: 100%;
  width: 100%;
  margin: auto;
  flex-direction: column;
  display: flex;
  overflow-y: scroll;
}

.project-tile {
  display: flex;
  flex-direction: column;
}

.project-tile a {
  width: 200px;
  margin: auto;
}

.project-tile .info-wrap {
  margin: 1em auto;
  width: fit-content;
}

.project-tile h1, .project-tile p {
  text-align: center;
  margin: 0;
}

.project-tile h1 {
  font-size: 1.1em;
}

.project-tile p {
  font-size: 0.9em;
  color: #dbdbdb;
}

.project-tile img {
  width: 100%;
  border-radius: 15px;
}

/* ABOUT */

#about {
  background-color: rgba(26, 26, 26, 0.99);
  border-radius: 40px;
  border: 1px solid rgba(42, 42, 42, 0.8);
  margin: 2em auto;
  width: 60em;
  display: flex;
  flex-direction: row;
}


#about .time {
    margin: 1em 1em;
    width: 85%;
    opacity: 0.3;
    border-radius: 25px;
}

#about .time:hover {
    opacity: 0.8;
}

#about .time p {
  margin: 0 auto;
  text-align: center;
}

#about .time img {
  width: 100%;
  border-radius: 25px;
}

#about .personal {
  width: 40em;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}

#about .personal p {
 margin: 0.33em auto;
 width: 75%;
 text-align: center;
}

#about .personal img {
  width: 40%;
  margin: 1em auto;
  border-radius: 50%;
}

#about h1 {
  text-align: center;
  margin: 0 auto;
  width: fit-content;;
}

/* CONTACT */

#contact {
  width: 100%;
  background-color: rgba(42, 42, 42, 0.8);
  display: flex;
  border-TOP: 3px solid rgba(174, 69, 255);
  
}

.contact-wrap h1 {
  font-size: 2em;
}

#contact .contact-wrap {
  margin: auto;
  padding: 0 1em 0 1em;
}

.contact-wrap a {
  display: flex;
  width: fit-content;
  font-size: 1.7em;
  margin-bottom: 0.7em;
}

.contact-wrap a i {
  font-size: 1em;
  padding-right: 0.3em;
}




@media (max-width: 969px) {
   .wrapper {
     flex-direction: column;
     width: 80%;
     margin-top: 6em;
     margin-bottom: 6em;
  }
  
    #welcome-section {
      margin: 1em auto;
      width: 87%;
      padding-left: 1em;
      padding-right: 1em;
      border-radius: 30px;
  }

    .welcome-wrap h1 {
    text-align: center;
  }
  
/*  PROJECTS  */
  
   .project-title {
     display: block;
     writing-mode: horizontal-tb;
     font-size: 4em;
     padding: 0;
     height: fit-content;
  }

    #projects {
      width: 85%;
      height: 60vh;
      margin: 2em auto;
      padding-bottom: 0em;
      display: flex;
  }

  .projects-wrap {
    height: 100%;
    width: 100%;
    margin: auto;
    flex-direction: column;
    display: flex;
    overflow-y: scroll;
  }
  
  .project-tile {
    margin-left: 0em;
  }
  
  .project-tile a {
    width: 230px;
    margin: auto;
}
/*  ABOUT  */
  
    #about {
      background-color: rgba(26, 26, 26, 0.99);
      border-radius: 40px;
      border: 1px solid rgba(42, 42, 42, 0.8);
      margin: 2em auto;
      width: 80%;
      display: flex;
      flex-direction: column;
  }
  
    #about .time {
      margin: 1em auto;
      width: 90%;
    }


    #about .time p {
      margin: 0 auto;
      text-align: center;
    }

    #about .time img {
      width: 100%;
      border-radius: 25px;
    }


    #about .personal {
      width: 95%;
      display: flex;
      flex-direction: column;
      margin: auto;
    }

    #about .personal p {
     margin: 0.33em auto;
     width: 75%;
     text-align: center;
    }

    #about .personal img {
      width: 40%;
      margin: 1em auto;
      border-radius: 50%;
    }

    #about h1 {
      text-align: center;
      margin: 0 auto;
      width: fit-content;;
    }

}

@media (max-width: 435px) {
   #welcome-section {
      margin: 0.44em auto;
  }
}

@media (max-width: 969px) and (min-width: 500px ) {
   #projects {
    display: grid;
}
  
  #welcome-section {
    margin: 1.5em auto;
  }

  .projects-wrap {
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  
}

@media (max-width: 435px) {
  .project-title {
     position: absolute;
     display: block;
     width: 4.4em;
     padding-bottom: -1em;
     font-weight: normal;
     writing-mode: horizontal-tb;
     font-size: 3em;
     margin-top: -1.5em;
     left: 50%;
     margin-left: -2.2em;
     padding: 0;
     height: fit-content;
  }
  
}


